@import "tailwindcss";


*{
  font-family: sans-serif;
}


@layer utilities {
  /* Remove number input arrows (Chrome, Edge, Safari, Brave) */
  .no-spinner::-webkit-inner-spin-button,
  .no-spinner::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
  }

  /* Firefox support */
  .no-spinner[type='number'] {
    -moz-appearance: textfield;
    appearance: textfield; /* Standard property */
  }
}



